.header-container {
  background-color: #1DCDAA;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #272F51;  
}

h1 {
  margin-left: 5rem;
  font-size: 60px;
  font-weight: 700;
  padding: 20px;
}

.nav-button {
  margin-right: 5rem;
  color: #272F51;
  font-size: 2rem;
  list-style-type: none !important;
  border-style: #272F51 solid 1px;
  text-decoration: none !important;
}


