.header-container {
  background-color: #1DCDAA;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  margin-left: 10px;
  font-size: 60px;
  font-weight: 700;
  padding: 20px;
}