
.request-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
}

.item-details {
  height: 100px;
  width: 500px;
}

.bottom-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-bottom-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.request-btn {
  margin-top: 16px;
  width: 150px;
  height: 40px;
  border: none;
  background-color: #1DCDAA;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin: 5px;
}
.cancel-btn {
  margin-top: 16px;
  width: 150px;
  height: 40px;
  border: none;
  background-color: #1DCDAA;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin: 5px;
}

.cancel-btn:hover, .request-btn:hover {
  background-color: #272F51;
  box-shadow: 0 0 5px #272F51;
  color: white;
}

input {
  background-color: white !important;
}

select {
  width: 144px;
  height: 36px;
  font-size: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align-last: center;
}

option {
  font-size: 12px;
}

.date-needed, .date-return {
  width: 215px;
  height: 36px;
  font-size: 20px;

}

.item-details {
  font-size: 24px;
  height: 36px;
  text-overflow: inherit;
}

p {
  font-size: 24px;
}

.error {
  color: red;
}

.btn-bottom-row {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}